body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 80px;
}
.diet{
    color: goldenrod;
}
section{
    display: flex;
     font-size: 30px; 
     margin-left: 10px;
}
.half-width{
    width: 100%;
    padding-left: 50px;
}
.half-width img{
    width: 50%;
    padding-left: 200px;
    padding-top: 80px;
}
.link-button{
    text-decoration: none;
    background-color: rgba(50, 66, 17, 0.426);
    padding: 10px 40px;
    border-radius: 20px;

    }
    .background{
        background-image: url(7.png);
        background-repeat: no-repeat;
       background-position-y: top;
       background-size: 100%;
       margin-top: 50px;


    }
    .cental{
        text-align: center;
        font-size: 50px;

    }
    .text{
        text-align: center;
        font-size: 25px;
    }
    .box{
        width: 300px;
       box-sizing: border-box;
        margin: 10px;
        box-shadow: 1px 2px 4px black;
        
        padding: 20px;
    }
    .width{
        width: 100%;}

        .title-body{
            padding: 20px;
            
            background-color: tan;
            color: white;
        }
        .title{
            font-size: 2rem;
            text-align: center;
        }
        .title-body .dese{
            text-align: justify;
            line-height: 1.5;
            color: white;
           
            

         } 
        .title-containers{ 
           box-sizing: border-box;
           display: flex;
           background-color: turquoise;
           padding: 20px 20px;
           justify-content: center;
           align-items: center;
        } 

    
